
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <!-- Configure Thumbnail when Sharing link -->
    <meta property="og:title" content="Gather" /> 
    <meta property="og:description" content="An all in one tool to make the design iteration cycle frictionless" />
    <meta property="og:image" content="https://gatherdeepcore.s3-us-west-2.amazonaws.com/website-stuff/send.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <title>Gather</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" 
    crossorigin="anonymous">

    <!-- fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" rel="stylesheet">

    
    <script type="text/jsx" src=“https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js“></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/nicolenair/annotorious-stuff2/annotorious.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/nicolenair/annotorious-stuff2/anno-vanilla-rest-plugin.js"></script> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146341039-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146341039-1');
    </script>

  </head>
  <body>
    <div id="root"></div>
	<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js -->
	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
	<script type="text/javascript" src="/dist/bundle/commons.js"></script>
	<script type="text/javascript" src="/dist/bundle/app.js"></script> <!-- React code bundle -->
 
  </body>
</html>


